/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

/* whatsapp iconstyles below */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
}

.my-float{
	margin-top:16px;
}

/* testimonials */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
.testimonial3 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.testimonial3 h1,
.testimonial3 h2,
.testimonial3 h3,
.testimonial3 h4,
.testimonial3 h5,
.testimonial3 h6 {
  color: #3e4555;
}

.testimonial3 .font-weight-medium {
  font-weight: 500;
}

.testimonial3 .bg-light {
  background-color: #f4f8fa !important;
}

.testimonial3 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.testimonial3 .testi3 .card-body {
  padding: 40px;
}

.testimonial3 .testi3 h6 {
  line-height: 26px;
}

.testimonial3 .testi3 .thumb-img img {
  width: 60px;
}

.testimonial3 .testi3 .customer {
  font-size: 14px;
  font-weight: 500;
}

.testimonial3 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.testimonial3 .font-10 {
	font-size: 10px;
}

.testimonial3 .text-success {
    color: #2cdd9b !important;
}

.testimonial3 .text-muted {
    color: #8d97ad !important;
}

.testimonial3 .owl-theme .owl-dots .owl-dot.active span,
.testimonial3 .owl-theme .owl-dots .owl-dot:hover span {
  background: #316ce8;
}